/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
header {
  background-image: url(../images/bgtile.png);
  background-position: bottom;
}
.top {
  position: absolute;
  left: 590px;
  top: 120px;
}
.box1-right {
  position: absolute;
  width: 430px;
  padding: 20px;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat; 
  left: 590px;
  top: 230px;
}
.content {
  text-align: left;
}
.box2-left {
  position: absolute;
  top: 120px;
  left: 130px;
}
.butt {

}

.box4-bottom {
  text-align: center;
  top: 300px;
}